.wrap {
    margin: 0;
    padding: 0;
    background: #FF512F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #DD2476, #FF512F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #DD2476, #FF512F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

form {
    justify-content: center;
    display: flex;
    margin-top:100px ;
    padding: 30px;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 400px;
    margin-right: 10px;
    color: black;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #0066cc;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
}
button:hover{
    color: aqua;
}

@media screen and (max-width: 768px) {
    input[type="text"] {
        width: 200px;
        margin-right: 0;
        margin-bottom: 10px;
    }

    button {
        padding: 8px 16px;
    }
}






* {
    font-family: sans-serif;
  }
  
  
  
  .parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .parent button {
    background-color:blue ;
    color: white;
    border: none;
    padding: 5px;
    font-size: 10px;
    height: 75px;
    width: 75px;
    box-shadow: 0 2px 4px darkslategray;
    cursor: pointer;
    transition: all 0.2s ease;
    margin: 10px;
  }
  
  .parent button:active {
    background-color: #48abe0;
    box-shadow: 0 0 2px darkslategray;
    transform: translateY(2px);
  }
  .parent button:hover {
    background-color: #48abe0;
    box-shadow: 0 0 2px darkslategray;
    transform: translateY(2px);
  }
  
  
  
  .round-6 {
    border-radius: 25%;
    
  }
  
  